<!DOCTYPE html>
<html>
<head> 
<title> {{title}} </title>
<style type="text/css">
.button {
    background-color: #eb6ded;
    border: 2px solid black;
    color: black;
    padding: 10px 14px; 
    text-align: center;
    text-decoration: none;
}
.button:hover {
    background-color: #df29e2;
}
</style>
</head>
<body>
   <h1>{{title}}</h1>
   <div>
      <img src="{{image album.image}}" alt="{{album.name}} cover"><br>
      <input class="button" type="button" id="favouriteAlbum" value="Favourite">
      <h2>Album Name: {{album.name}}</h2> 
      <h3>Artist: {{album.artist}}</h3> 
      {{#if album.releasedate}}
         <p>Release Date: {{album.releasedate}}</p>
      {{else}}
         <p>Release Date: Not available</p>
      {{/if}}
      {{#if album.playcount}}
         <p>Playcount: {{album.playcount}}</p>
      {{else}}
         <p>Playcount: Not available</p>
      {{/if}}
      {{#if album.wiki.summary}}
         <p>{{{album.wiki.summary}}}</p>
      {{else}}
         <p>Summary not available</p>
      {{/if}}
      <p>Tracks: </p>
      {{#each album.tracks.track}} 
         <p><a href= '/track/{{encode this.artist.name}}/{{encode this.name}}'>{{plus @index}}. {{this.name}}</a>, length: {{this.duration}}</p> 
      {{/each}} 
      <a href='/albums/{{encode album.name}}' class="button"> Return to Album Search</a>
   </div>
   <script src='/favouriteAlbumListeners.js'></script>
</body>
</html>